---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/envelopes?limit=3&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "offset": 1,
            "limit": 3,
            "total_envelopes": "5527",
            "prev": "https://api.signable.co.uk/v1/envelopes?offset=0&limit=3",
            "next": "https://api.signable.co.uk/v1/envelopes?offset=4&limit=3",
            "envelopes": [
                {
                    "envelope_fingerprint": "955360c85164e37d5463664e3acbcdab",
                    "envelope_title": "whatever",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "",
                    "envelope_created": "2021-06-02T15:28:35+0000",
                    "envelope_sent": "2021-06-02T15:28:35+0000",
                    "envelope_processed": null
                },
                {
                    "envelope_fingerprint": "d1ea523ff60f1ab3c6fe75651d9e0f16",
                    "envelope_title": "whatever",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "",
                    "envelope_created": "2021-06-02T15:24:13+0000",
                    "envelope_sent": "2021-06-02T15:24:13+0000",
                    "envelope_processed": null
                },
                {
                    "envelope_fingerprint": "ac1169087daf0030648695e60ddaea08",
                    "envelope_title": "whatever",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "",
                    "envelope_created": "2021-06-02T15:24:03+0000",
                    "envelope_sent": "2021-06-02T15:24:03+0000",
                    "envelope_processed": null
                }
            ]
        }
  recorded_at: Wed, 02 Jun 2021 15:29:17 GMT
recorded_with: VCR 6.0.0
