---
http_interactions:
- request:
    method: put
    uri: https://api.signable.co.uk/v1/envelopes/83ed33d1844c54a053233d00e6ab6e33/remind
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "The next signing party for this envelope has been reminded.",
            "envelope_fingerprint": "83ed33d1844c54a053233d00e6ab6e33",
            "envelope_title": "PARTICIPATION AGREEMENT-ONE-SIGNATORY"
        }
  recorded_at: Wed, 26 May 2021 10:08:47 GMT
recorded_with: VCR 6.0.0
