---
http_interactions:
- request:
    method: put
    uri: https://api.signable.co.uk/v1/contacts/999999999999
    body:
      encoding: UTF-8
      string: contact_name=Two&contact_email=two%40gmail.com
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 404,
            "code": 10053,
            "message": "The contact does not exist. Have you used the correct contact ID?"
        }
  recorded_at: Tue, 08 Jun 2021 13:48:49 GMT
recorded_with: VCR 6.0.0
