---
http_interactions:
- request:
    method: post
    uri: https://api.signable.co.uk/v1/contacts
    body:
      encoding: UTF-8
      string: contact_name=One&contact_email=one%40gmail.com
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "One has been added to your contact list.",
            "href": "https://api.signable.co.uk/v1/contacts/6392144",
            "contact_id": "6392144",
            "contact_name": "One",
            "contact_email": "one@gmail.com",
            "contact_created": "2021-06-08T13:48:47+0000"
        }
  recorded_at: Tue, 08 Jun 2021 13:48:48 GMT
- request:
    method: put
    uri: https://api.signable.co.uk/v1/contacts/6392144
    body:
      encoding: UTF-8
      string: contact_name=Two&contact_email=two%40gmail.com
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "Two has been updated in your contact list.",
            "href": "https://api.signable.co.uk/v1/contacts/6392144",
            "contact_id": 6392144,
            "contact_name": "Two",
            "contact_email": "two@gmail.com",
            "contact_updated": "2021-06-08T13:48:48+0000"
        }
  recorded_at: Tue, 08 Jun 2021 13:48:49 GMT
- request:
    method: delete
    uri: https://api.signable.co.uk/v1/contacts/6392144
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "Two has been removed from your contact list.",
            "contact_id": 6392144,
            "contact_name": "Two",
            "contact_email": "two@gmail.com"
        }
  recorded_at: Tue, 08 Jun 2021 13:48:49 GMT
recorded_with: VCR 6.0.0
