---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/envelopes?limit=3&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "offset": 1,
            "limit": 3,
            "total_envelopes": "5422",
            "prev": "https://api.signable.co.uk/v1/envelopes?offset=0&limit=3",
            "next": "https://api.signable.co.uk/v1/envelopes?offset=4&limit=3",
            "envelopes": [
                {
                    "envelope_fingerprint": "22f9f4664213823256989f42a40ec167",
                    "envelope_title": "PARTICIPATION AGREEMENT",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "https://niebotacta.pr-18822.smartsmart.dev/?signed=true",
                    "envelope_created": "2021-05-26T08:54:16+0000",
                    "envelope_sent": "2021-05-26T08:54:22+0000",
                    "envelope_processed": null
                },
                {
                    "envelope_fingerprint": "4a034248c3237fe4dd175b3ac6b6faeb",
                    "envelope_title": "DEED OF PARTICIPATION-ONE-SIGNATORY",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "https://fundedbyme-mena-ltd5.pr-18822.smartheat.dev/?signed=true",
                    "envelope_created": "2021-05-26T08:17:12+0000",
                    "envelope_sent": "2021-05-26T08:17:12+0000",
                    "envelope_processed": null
                },
                {
                    "envelope_fingerprint": "f3fa8e06283624cb183fcdd32f4f49b8",
                    "envelope_title": "PARTICIPATION AGREEMENT",
                    "envelope_status": "sent",
                    "envelope_redirect_url": "https://pension-services-limited8.pr-18822.smartsmart.dev/?signed=true",
                    "envelope_created": "2021-05-26T08:16:36+0000",
                    "envelope_sent": "2021-05-26T08:16:37+0000",
                    "envelope_processed": null
                }
            ]
        }
  recorded_at: Wed, 26 May 2021 09:45:35 GMT
recorded_with: VCR 6.0.0
