---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/envelopes/non_existent_fingerprint
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 404,
            "code": 10253,
            "message": "The envelope does not exist. Have you used the correct envelope fingerprint?"
        }
  recorded_at: Tue, 08 Jun 2021 13:48:47 GMT
recorded_with: VCR 6.0.0
