---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/templates?limit=3&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "offset": 1,
            "limit": 3,
            "total_templates": "29",
            "prev": "https://api.signable.co.uk/v1/templates?offset=0&limit=3",
            "next": "https://api.signable.co.uk/v1/templates?offset=4&limit=3",
            "templates": [
                {
                    "template_id": "16208133",
                    "template_fingerprint": "0713b744a4f39c46d3d434f195258896",
                    "template_title": "PARTICIPATION AGREEMENT-TWO-SIGNATORIES",
                    "template_page_total": "3",
                    "template_in_progress": "117",
                    "template_parties_total": "2",
                    "template_widget_url": "",
                    "template_widget_embed": "",
                    "template_pdf_url": "https://docs.signable.co.uk/original/0713b744a4f39c46d3d434f195258896.pdf",
                    "template_thumbnails": [
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-0.jpg",
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-1.jpg",
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-2.jpg"
                    ],
                    "template_pages": [
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-0.jpg",
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-1.jpg",
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-2.jpg"
                    ],
                    "template_parties": [
                        {
                            "party_id": "6167126",
                            "party_name": "Signer",
                            "party_merge_fields": [
                                {
                                    "field_id": "116555203",
                                    "field_merge": "CompanyName",
                                    "field_type": "text"
                                },
                                {
                                    "field_id": "116555204",
                                    "field_merge": "CompanyCountry",
                                    "field_type": "text"
                                },
                                {
                                    "field_id": "116555206",
                                    "field_merge": "CompanyNumber",
                                    "f[...]
- request:
    method: post
    uri: https://api.signable.co.uk/v1/envelopes
    body:
      encoding: UTF-8
      string: envelope_title=whatever&envelope_documents=%5B%7B%22document_title%22%3A%22title%22%2C%22document_template_fingerprint%22%3A%220713b744a4f39c46d3d434f195258896%22%7D%5D&envelope_parties=%5B%7B%22party_name%22%3A%22something%22%2C%22party_email%22%3A%22something%40gmail.com%22%2C%22party_id%22%3A%226167126%22%7D%5D
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
            "http": 202,
            "message": "Your envelope with title whatever will be processed and sent out.",
            "href": "https://api.signable.co.uk/v1/envelopes/951422d273a3d0753f8a83e90acc443a",
            "envelope_title": "whatever",
            "envelope_fingerprint": "951422d273a3d0753f8a83e90acc443a",
            "envelope_signing_embed": "<iframe src=\"https://app.signable.co.uk/envelope/sign/951422d273a3d0753f8a83e90acc443a/8f95fbb9f62e605d61ed9a03d3108d22\" width=\"100%\" height=\"95%\" frameborder=\"0\" style=\"border: 0; overflow: hidden\"></iframe>",
            "envelope_password_protect": false,
            "envelope_redirect_url": "",
            "envelope_queued": "2021-06-02T15:28:17+0000"
        }
  recorded_at: Wed, 02 Jun 2021 15:28:20 GMT
- request:
    method: get
    uri: https://api.signable.co.uk/v1/envelopes/951422d273a3d0753f8a83e90acc443a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "envelope_fingerprint": "951422d273a3d0753f8a83e90acc443a",
            "envelope_title": "whatever",
            "envelope_status": "sent",
            "envelope_redirect_url": null,
            "envelope_created": "2021-06-02T15:28:17+0000",
            "envelope_sent": "2021-06-02T15:28:17+0000",
            "envelope_processed": null,
            "envelope_parties": [
                {
                    "party_id": "13949261",
                    "party_title": "something",
                    "contact_id": "6322313",
                    "contact_email": "something@gmail.com",
                    "party_status": "in progress",
                    "party_signature_type": "remote",
                    "party_role": "signer",
                    "party_signing_url": "https://sign.signable.app/#/951422d273a3d0753f8a83e90acc443a/8f95fbb9f62e605d61ed9a03d3108d22"
                }
            ],
            "envelope_documents": [
                {
                    "document_fingerprint": "0713b744a4f39c46d3d434f195258896",
                    "document_title": "PARTICIPATION AGREEMENT-TWO-SIGNATORIES",
                    "document_page_total": "3",
                    "document_pdf_url": "https://docs.signable.co.uk/original/0713b744a4f39c46d3d434f195258896.pdf",
                    "document_thumbnails": [
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-0.jpg",
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-1.jpg",
                        "https://docs.signable.co.uk/small/0713b744a4f39c46d3d434f195258896-2.jpg"
                    ],
                    "document_pages": [
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-0.jpg",
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-1.jpg",
                        "https://docs.signable.co.uk/large/0713b744a4f39c46d3d434f195258896-2.jpg"
                    ],
                    "document_fields": [
                        {
                            "field_id": "126830820",
                            "field_title": "Full Company Name",
                            "field_type": "text",
                            "field_value": "",
                            "party_id": "13949261",
                            "field_merge": "CompanyName"
                        },
                        {
                            "field_id": "126830821",
                            "field_title": "CompanyCountry",
                            "field_type": "text",
                            "field_value": "",
                            "party_id": "13949261",
                            "field_merge": "CompanyCountry"
          [...]
- request:
    method: put
    uri: https://api.signable.co.uk/v1/envelopes/951422d273a3d0753f8a83e90acc443a/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "The envelope has been cancelled",
            "envelope_fingerprint": "951422d273a3d0753f8a83e90acc443a",
            "envelope_title": "whatever",
            "envelope_status": "cancelled",
            "envelope_processed": "2021-06-02T15:28:20+0000"
        }
  recorded_at: Wed, 02 Jun 2021 15:28:22 GMT
- request:
    method: delete
    uri: https://api.signable.co.uk/v1/envelopes/951422d273a3d0753f8a83e90acc443a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "The envelope has been deleted",
            "envelope_fingerprint": "951422d273a3d0753f8a83e90acc443a",
            "envelope_title": "whatever",
            "envelope_status": "deleted"
        }
  recorded_at: Wed, 02 Jun 2021 15:28:22 GMT
recorded_with: VCR 6.0.0
