---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/envelopes/83ed33d1844c54a053233d00e6ab6e33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "envelope_fingerprint": "83ed33d1844c54a053233d00e6ab6e33",
            "envelope_title": "PARTICIPATION AGREEMENT-ONE-SIGNATORY",
            "envelope_status": "sent",
            "envelope_redirect_url": null,
            "envelope_created": "2021-05-24T09:55:18+0000",
            "envelope_sent": "2021-05-24T09:56:56+0000",
            "envelope_processed": null,
            "envelope_parties": [
                {
                    "party_id": "13792041",
                    "party_title": "Mr Christian Ball",
                    "contact_id": "6299647",
                    "contact_email": "christian.ball@smartpension.co.uk",
                    "party_status": "in progress",
                    "party_signature_type": "remote",
                    "party_role": "signer",
                    "party_signing_url": "https://sign.signable.app/#/83ed33d1844c54a053233d00e6ab6e33/6df0f3179d612b32aca7b10490b15eec"
                }
            ],
            "envelope_documents": [
                {
                    "document_fingerprint": "fa3afc78f6d4ca0b6ccb011237ddede8",
                    "document_title": "PARTICIPATION AGREEMENT-ONE-SIGNATORY",
                    "document_page_total": "3",
                    "document_pdf_url": "https://docs.signable.co.uk/original/fa3afc78f6d4ca0b6ccb011237ddede8.pdf",
                    "document_thumbnails": [
                        "https://docs.signable.co.uk/small/fa3afc78f6d4ca0b6ccb011237ddede8-0.jpg",
                        "https://docs.signable.co.uk/small/fa3afc78f6d4ca0b6ccb011237ddede8-1.jpg",
                        "https://docs.signable.co.uk/small/fa3afc78f6d4ca0b6ccb011237ddede8-2.jpg"
                    ],
                    "document_pages": [
                        "https://docs.signable.co.uk/large/fa3afc78f6d4ca0b6ccb011237ddede8-0.jpg",
                        "https://docs.signable.co.uk/large/fa3afc78f6d4ca0b6ccb011237ddede8-1.jpg",
                        "https://docs.signable.co.uk/large/fa3afc78f6d4ca0b6ccb011237ddede8-2.jpg"
                    ],
                    "document_fields": [
                        {
                            "field_id": "125031184",
                            "field_title": "Full Company Name",
                            "field_type": "text",
                            "field_value": "Christian Smart Pension",
                            "party_id": "13792041",
                            "field_merge": "CompanyName"
                        },
                        {
                            "field_id": "125031185",
                            "field_title": "CompanyCountry",
                            "field_type": "text",
                            "field_value": "United Kingdom",
                            "party_id": "13792041",
                            "field_merge": "CompanyCountry"
                        },
                        {
                            "field_id": "1[...]
