---
http_interactions:
- request:
    method: get
    uri: https://api.signable.co.uk/v1/templates?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "offset": 0,
            "limit": 10,
            "total_templates": "29",
            "next": "https://api.signable.co.uk/v1/templates?offset=10&limit=10",
            "templates": [
                {
                    "template_id": "17177357",
                    "template_fingerprint": "4be8d05316eceda98378b052f5586b69",
                    "template_title": "Test signable template",
                    "template_page_total": "1",
                    "template_in_progress": "22",
                    "template_parties_total": "1",
                    "template_widget_url": "https://app.signable.co.uk/widget/url/nbgebLxYzR",
                    "template_widget_embed": "<script type='text/javascript' src='https://app.signable.co.uk/widget/embed/nbgebLxYzR'></script>",
                    "template_pdf_url": "https://docs.signable.co.uk/original/4be8d05316eceda98378b052f5586b69.pdf",
                    "template_thumbnails": [
                        "https://docs.signable.co.uk/small/4be8d05316eceda98378b052f5586b69-0.jpg"
                    ],
                    "template_pages": [
                        "https://docs.signable.co.uk/large/4be8d05316eceda98378b052f5586b69-0.jpg"
                    ],
                    "template_parties": [
                        {
                            "party_id": "6519080",
                            "party_name": "1"
                        }
                    ],
                    "template_uploaded": "2021-05-26T13:06:56+0000"
                },
                {
                    "template_id": "16208133",
                    "template_fingerprint": "0713b744a4f39c46d3d434f195258896",
                    "template_title": "PARTICIPATION AGREEMENT-TWO-SIGNATORIES",
                    "template_page_total": "3",
                    "template_in_progress": "120",
                    "template_parties_total": "2",
                    "template_widget_url": "",
                    "template_[...]
- request:
    method: post
    uri: https://api.signable.co.uk/v1/envelopes
    body:
      encoding: UTF-8
      string: envelope_title=whatever&envelope_auto_expire_hours=120&envelope_documents=%5B%7B%22document_title%22%3A%22title%22%2C%22document_template_fingerprint%22%3A%224be8d05316eceda98378b052f5586b69%22%7D%5D&envelope_parties=%5B%7B%22party_name%22%3A%22something%22%2C%22party_email%22%3A%22something%40gmail.com%22%2C%22party_id%22%3A%226519080%22%7D%5D
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
            "http": 202,
            "message": "Your envelope with title whatever will be processed and sent out.",
            "href": "https://api.signable.co.uk/v1/envelopes/0b2ec37ef7f06a5af9a69e4d9a862288",
            "envelope_title": "whatever",
            "envelope_fingerprint": "0b2ec37ef7f06a5af9a69e4d9a862288",
            "envelope_signing_embed": "<iframe src=\"https://app.signable.co.uk/envelope/sign/0b2ec37ef7f06a5af9a69e4d9a862288/238b945f2cbd6b76e991057bf3f306c5\" width=\"100%\" height=\"95%\" frameborder=\"0\" style=\"border: 0; overflow: hidden\"></iframe>",
            "envelope_password_protect": false,
            "envelope_redirect_url": "",
            "envelope_queued": "2022-03-04T15:11:39+0000"
        }
  recorded_at: Fri, 04 Mar 2022 15:11:42 GMT
- request:
    method: put
    uri: https://api.signable.co.uk/v1/envelopes/0b2ec37ef7f06a5af9a69e4d9a862288/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "The envelope has been cancelled",
            "envelope_fingerprint": "0b2ec37ef7f06a5af9a69e4d9a862288",
            "envelope_title": "whatever",
            "envelope_status": "cancelled",
            "envelope_processed": "2022-03-04T15:12:34+0000"
        }
  recorded_at: Fri, 04 Mar 2022 15:12:36 GMT
- request:
    method: delete
    uri: https://api.signable.co.uk/v1/envelopes/0b2ec37ef7f06a5af9a69e4d9a862288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "http": 200,
            "message": "The envelope has been deleted",
            "envelope_fingerprint": "0b2ec37ef7f06a5af9a69e4d9a862288",
            "envelope_title": "whatever",
            "envelope_status": "deleted"
        }
  recorded_at: Fri, 04 Mar 2022 15:12:36 GMT
recorded_with: VCR 6.0.0
